<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="../../public/stylesheets/snaxkrew.min.css">
<script src="../../public/js/lazysizes.min.js" async=""></script>
<link rel="stylesheet" type="text/css" href="../../public/stylesheets/main.css" />

</head>

<body>

  <!-- LANDING PAGE -->
  <div>
    <div class="content-wrapper">
      <!-- MAIN CONTENT -->
      <div class="center outer">
        <div class="inner">
          <img class="logo lazyload" src="../../public/imgs/snaxbanner.png" data-src="../../public/imgs/snaxbanner.png" height="153" title="SnaxKrew" alt="SnaxKrew"/>
        </div>

        <div class="content-box">
          <h2 class="section_title">SNAXKREW Profile</h2>
          <table>
            <tr>
              <th>Avatar</th>
              <th>Username</th>
              <th>Messages Count</th>
              <th>Characters Count</th>
              <th>Seconds Muted</th>
              <th>Seconds Unmuted</th>
            </tr>
            <tr>
              <td><img class="avatar" src=""/></td>
              <td>Username</td>
              <td>1234</td>
              <td>12345</td>
              <td>98765</td>
              <td>9876</td>
            </tr>
          </table>
        </div>

        <!-- FOOTER -->
        <div class="content-box footer">
          <h2 class="section_title">Join us on</h2>
          <section class="social">
            <a href="//discord.me/snax" target="_blank">
              <img class="lazyload" src="../../public/imgs/snaxbanner.png" data-src="../../public/imgs/discord-small.svg" height="60" title="Discord" alt="Discord"/>
            </a>
            <a href="https://twitter.com/snaxkr3w" target="_blank">
              <img class="lazyload" src="../../public/imgs/snaxbanner.png" data-src="../../public/imgs/twitter.svg" height="50" title="Twitter" alt="Twitter"/>
            </a>
            <a href="https://www.facebook.com/snaxgaming" target="_blank">
              <img class="lazyload" src="../../public/imgs/snaxbanner.png" data-src="../../public/imgs/facebook.png" height="50" title="Facebook" alt="Facebook"/>
            </a>
            <a href="https://www.youtube.com/channel/UCqE1nXJBnNuZThoeNG9618Q/videos" target="_blank">
              <img class="lazyload" src="../../public/imgs/snaxbanner.png" data-src="../../public/imgs/youtube.png" height="50" title="Youtube" alt="Youtube"/>
            </a>
          </section>
        </div>

      </div>
    </div>
  </div>



</body>
</html>
